<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    Ada tiket bang
    <img
      src="https://image-charts.com/chart?
chs=150x150&cht=qr&chl={{ nama }}&choe=UTF-8" />
  </body>
</html>
